@model IEnumerable<Slider>
<div class="container">
    <div class="row">
        <div class="col-lg-12 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Slider table</h4>
                    <a class="btn btn-outline-success" asp-action="create">Create</a>
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th> Image </th>
                                <th> Created date</th>
                                <th> Settings</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var slider in Model)
                            {
                                <tr>
                                    <td>
                                        <img width="150" height="150" src="~/img/@slider.ImageUrl" alt="" />
                                    </td>
                                    <td>@slider.CreatedDate?.ToString("dd.MM.yyyy")</td>
                                    <td>
                                        <a class="text-primary pe-2 text-decoration-none" asp-action="detail" asp-route-id="@slider.Id">

                                            <i class="fa fa-info-circle"></i>
                                        </a>
                                        <a class="text-succes pe-2 text-decoration-none" asp-action="update" asp-route-id="@slider.Id">
                                            <i class="fa fa-edit"></i>
                                        </a>
                                        <a class="text-danger text-decoration-none" asp-action="delete" asp-route-id="@slider.Id">
                                            <i class="fa fa-trash-o"></i>
                                        </a>
                                    </td>
                                </tr>
                            }

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>