@model IEnumerable<Blog>
@{
    ViewData["Title"] = "Index";
}

<section id="blog">
    <div class="container">
        <div id="blogList" class="row pb-5">
            <input id="blogCount" type="hidden" value="@ViewBag.BlogCount" />
            @await Component.InvokeAsync("Blog")
        </div>
        <div class="row justify-content-center pb-5">
            <button id="loadMore" class="btn-primary btn">Load more...</button>
        </div>
    </div>
</section>